<div class="recommended">
    <!-- 分类切换 -->
    <div class="page-title">
        <ul class="recommened-nav navigation clearfix">
            <!-- 用户未订阅专题或人，或者未完成订阅 or 用户订阅列表已准备就绪 -->
            <li data-name="trending_notes" v-class="active: type=='hot'">
                <a data-pjax="true" href="/#hot/now">
                    <i v-if="type=='hot'" class="fa fa-bars">
                    </i>
                    热门文章
                </a>
            </li>
            <li data-name="recommended_notes" v-class="active: type=='notes'">
                <a data-pjax="true" href="/#notes/all">
                    <i v-if="type=='notes'" class="fa fa-bars">
                    </i>
                    今日看点
                </a>
            </li>
            <li data-name="subscription_notes" v-class="active: type=='subscribe'">
                <a data-pjax="true" href="/#subscribe/all">
                    <i v-if="type=='subscribe'" class="fa fa-bars">
                    </i>
                    我的订阅
                </a>
            </li>
            <img class="hide loader-tiny" src="/components/component/list/img/tiny.gif"
            alt="Tiny">
            <li class="search">  
                <c-search v-with="search:search"></c-search>             
            </li>
        </ul>
    </div>


    <!-- 文章列表 -->
    <c-list v-with="type:type,cate:cate,search:search"></c-list>
</div>



<c-footer></c-footer>